* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body, html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  background: #f8f8f8;
  color: #081c24;
}

body.hidden {
  overflow: hidden;
}

button, input, textarea {
  font-family: Roboto, sans-serif;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body:not(.touch) .button:hover {
  background: #081c24;
  color: #fff;
}

/*============ VARIABLES MEDIA QUERIS =============*/
nav.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

@media (min-width: 768px) {
  nav.nav {
    display: block;
    width: 95px;
    height: 100vh;
  }
}

nav.nav .nav-logo-image {
  width: 35px;
  height: 31px;
  fill: #bc3b69;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

@media (min-width: 768px) {
  nav.nav .nav-logo-image {
    width: 45px;
    height: 40px;
  }
}

nav.nav .nav-logo {
  display: block;
  width: 55px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #081c24;
}

@media (min-width: 768px) {
  nav.nav .nav-logo {
    width: 95px;
    height: 75px;
  }
}

nav.nav .nav-logo img {
  width: 37%;
}

nav.nav .nav-logo:hover .nav-logo-image {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

nav.nav .navbar-toggle {
  display: block;
  position: fixed;
  width: 55px;
  height: 50px;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 10;
  border-left: 1px solid #f8f8f8;
}

@media (min-width: 768px) {
  nav.nav .navbar-toggle {
    display: none;
  }
}

nav.nav .navbar-toggle .bar {
  position: absolute;
  width: 23px;
  height: 1px;
  background: rgba(8, 28, 36, 0.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav.nav .navbar-toggle .bar:first-child {
  left: 16px;
  top: 17px;
}

nav.nav .navbar-toggle .bar:nth-child(2) {
  left: 16px;
  top: 25px;
}

nav.nav .navbar-toggle .bar:nth-child(2):after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 1px;
  background: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav.nav .navbar-toggle .bar:nth-child(3) {
  right: 15px;
  top: 33px;
}

nav.nav .navbar-toggle--active .bar:first-child, nav.nav .navbar-toggle--active .navbar-toggle--active .bar:nth-child(3) {
  width: 0;
}

nav.nav .navbar-toggle--active .bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav.nav .navbar-toggle--active .bar:nth-child(2):after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: rgba(8, 28, 36, 0.5);
}

nav.nav .navbar-lists {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 50px;
  background: rgba(255, 255, 255, 0.98);
  border-top: 1px solid #f8f8f8;
}

@media (max-width: 767px) {
  nav.nav .navbar-lists {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    height: calc(100vh - 50px);
    text-align: left;
  }
}

@media (min-width: 768px) {
  nav.nav .navbar-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    position: relative;
    display: block;
    width: 100%;
    border-top: 0;
    top: 0;
  }
}

@media (max-width: 767px) {
  nav.nav .navbar-lists .nav-items:nth-child(odd) {
    border-right: 1px solid #f8f8f8;
  }
}

@media (max-width: 767px) {
  nav.nav .navbar-lists .nav-items {
    display: inline-block;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid #f8f8f8;
  }
}

@media (min-width: 768px) {
  nav.nav .navbar-lists .nav-items {
    width: 100%;
    border-bottom: 1px solid #f8f8f8;
  }
}

nav.nav .navbar-lists .nav-items .nav-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.7);
  -webkit-transition: color .5s ease, background .5s ease;
  transition: color .5s ease, background .5s ease;
  position: relative;
  cursor: pointer;
}

@media (max-width: 767px) {
  nav.nav .navbar-lists .nav-items .nav-link {
    font-size: 10px;
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  nav.nav .navbar-lists .nav-items .nav-link {
    width: 95px;
    height: 95px;
    font-size: 9px;
  }
}

nav.nav .navbar-lists .nav-items .nav-link:hover {
  color: #081c24;
}

nav.nav .navbar-lists .nav-items .nav-link:hover .nav-link-icons {
  fill: #081c24;
}

nav.nav .navbar-lists .nav-items .nav-link.is-active {
  color: #081c24;
  background: #f8f8f8;
}

nav.nav .navbar-lists .nav-items .nav-link.is-active .nav-link-icons {
  fill: #081c24;
}

@media (min-width: 768px) {
  nav.nav .navbar-lists .nav-items .nav__link--profile {
    width: 75px;
    height: 75px;
    background: #fff;
  }
}

nav.nav .navbar-lists .nav-items .nav-link-icons {
  width: 18px;
  height: 18px;
  margin-bottom: 9px;
  fill: rgba(8, 28, 36, 0.7);
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  nav.nav .navbar-lists .nav-items .nav-link-icons {
    width: 20px;
    height: 20px;
    margin-bottom: 9px;
  }
}

nav.nav .navbar-lists .nav-items .popularicons {
  width: 13px;
  height: 13px;
}

@media (min-width: 768px) {
  nav.nav .navbar-lists .nav-items .popularicons {
    width: 13px;
    height: 13px;
  }
}

nav.nav .navbar-lists .nav-items .nav-link-name {
  display: block;
  width: 100%;
}

.header {
  position: fixed;
  background: #fff;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 75px;
    margin-left: 95px;
    border-top: 0;
    border-bottom: 0;
    top: 0;
  }
}

.header .head-searchbar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  width: calc(100% - 110px);
  position: fixed;
  top: 0;
  right: 55px;
}

@media (min-width: 768px) {
  .header .head-searchbar {
    position: relative;
    height: 75px;
    right: 0;
  }
}

.header .head-searchbar #head-searchbar-input {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 45px;
  outline: none;
  border: 0;
  background-color: transparent;
  color: #081c24;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 768px) {
  .header .head-searchbar #head-searchbar-input {
    padding: 15px 30px 15px 60px;
  }
}

@media (min-width: 1024px) {
  .header .head-searchbar #head-searchbar-input {
    padding: 15px 30px 15px 80px;
  }
}

@media (min-width: 1200px) {
  .header .head-searchbar #head-searchbar-input {
    padding: 15px 30px 15px 90px;
  }
}

.header .head-searchbar .head-searchbar-icon {
  width: 14px;
  height: 14px;
  fill: rgba(8, 28, 36, 0.5);
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 20px;
}

@media (min-width: 768px) {
  .header .head-searchbar .head-searchbar-icon {
    width: 18px;
    height: 18px;
    margin-top: -9px;
    left: 30px;
  }
}

@media (min-width: 1024px) {
  .header .head-searchbar .head-searchbar-icon {
    left: 50px;
  }
}

@media (min-width: 1200px) {
  .header .head-searchbar .head-searchbar-icon {
    left: 60px;
  }
}

.header .head-searchbar #head-searchbar-input:focus + .head-searchbar-icon {
  fill: #081c24;
}

section.movies-section-main {
  position: relative;
  padding: 50px 0 0;
}

@media (min-width: 768px) {
  section.movies-section-main {
    width: calc(100% - 95px);
    padding: 75px 0 0;
    margin-left: 95px;
    position: relative;
  }
}

section.movies-section-main .container-main header.sec-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.7);
}

section.movies-section-main .container-main header.sec-header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  background-color: #081c24;
  background-image: url("../images/batman.jpg");
}

@media (min-width: 768px) {
  section.movies-section-main .container-main header.sec-header {
    height: 384px;
  }
}

section.movies-section-main .container-main header.sec-header .sec-header-wrap {
  text-align: center;
  position: relative;
}

section.movies-section-main .container-main header.sec-header .sec-header-wrap h1.sec-header-title {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #081c24;
  margin: 0;
}

@media (min-width: 768px) {
  section.movies-section-main .container-main header.sec-header .sec-header-wrap h1.sec-header-title {
    font-size: 28px;
  }
}

.wrapper {
  min-height: 0;
}

.wrapper .movies {
  padding: 10px;
}

@media (min-width: 768px) {
  .wrapper .movies {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .wrapper .movies {
    padding: 25px;
  }
}

@media (min-width: 1200px) {
  .wrapper .movies {
    padding: 30px;
  }
}

.wrapper .movies header.header-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

@media (min-width: 768px) {
  .wrapper .movies header.header-movies {
    padding: 23px 15px;
  }
}

@media (min-width: 1024px) {
  .wrapper .movies header.header-movies {
    padding: 16px 25px;
  }
}

@media (min-width: 1200px) {
  .wrapper .movies header.header-movies {
    padding: 8px 30px;
  }
}

.wrapper .movies header.header-movies h2.category-title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #081c24;
  font-weight: 300;
}

@media (min-width: 768px) {
  .wrapper .movies header.header-movies h2.category-title {
    font-size: 18px;
    line-height: 18px;
  }
}

.wrapper .movies header.header-movies a.view-all-link {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.5);
}

.wrapper .movies header.header-movies span.view-all-link {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  color: rgba(8, 28, 36, 0.5);
}

.wrapper .movies header.header-movies a.view-all-link {
  text-decoration: none;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.wrapper .movies header.header-movies a.view-all-link:after {
  content: " \2192";
}

.wrapper .movies header.header-movies a.view-all-link:hover {
  color: #081c24;
}

.wrapper .movies ul.list-of-movies {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .movies ul.list-of-movies li.movies-item:last-child {
  display: none;
}

@media (min-width: 1200px) {
  .wrapper .movies ul.list-of-movies li.movies-item:last-child {
    display: block;
  }
}

.wrapper .movies ul.list-of-movies li.movies-item {
  padding: 10px;
  width: 50%;
}

@media (min-width: 1024px) {
  .wrapper .movies ul.list-of-movies li.movies-item {
    padding: 20px;
    width: 25%;
  }
}

@media (min-width: 768px) {
  .wrapper .movies ul.list-of-movies li.movies-item {
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  .wrapper .movies ul.list-of-movies li.movies-item {
    padding: 30px;
    width: 20%;
  }
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link {
  text-decoration: none;
  color: rgba(8, 28, 36, 0.5);
  font-weight: 300;
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link figure.movies-poster {
  -webkit-transition: -webkit-transform .5s ease, -webkit-box-shadow .5s ease;
  transition: -webkit-transform .5s ease, -webkit-box-shadow .5s ease;
  transition: transform .5s ease, box-shadow .5s ease;
  transition: transform .5s ease, box-shadow .5s ease, -webkit-transform .5s ease, -webkit-box-shadow .5s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: #fff;
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link figure.movies-poster img.movies-item-image {
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.97) translateZ(0);
          transform: scale(0.97) translateZ(0);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link figure.movies-poster img.movies-item-image.is-loaded {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link .item-full-content {
  padding-top: 15px;
}

.wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link .item-full-content p.item-title {
  margin: 0;
  font-size: 11px;
  letter-spacing: .5px;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

@media (min-width: 480px) {
  .wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link .item-full-content p.item-title {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .wrapper .movies ul.list-of-movies li.movies-item a.movies-item-link .item-full-content p.item-title .item-title {
    font-size: 12px;
  }
}

.wrapper .movies ul.list-of-movies li.movies-item .movies-item-link:not(.no-image):hover .movies-poster {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 0 10px rgba(8, 28, 36, 0.1);
          box-shadow: 0 0 10px rgba(8, 28, 36, 0.1);
}

.wrapper .movies ul.list-of-movies li.movies-item .movies-item-link:hover .item-title {
  color: #081c24;
}

.wrapper .movies .movies-nav {
  padding: 25px 0;
  text-align: center;
}

.wrapper .movies .movies-nav button {
  display: inline-block;
  border: 1px solid #081c24;
  text-transform: uppercase;
  background: #081c24;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: .5px;
  padding: 5px 20px 4px;
  cursor: pointer;
  color: #081c24;
  background: transparent;
  outline: none;
  -webkit-transition: background .5s ease, color .5s ease;
  transition: background .5s ease, color .5s ease;
}

@media (min-width: 768px) {
  .wrapper .movies .movies-nav button {
    font-size: 12px;
    padding: 6px 20px 5px;
  }
}

.wrapper .movies .movies-nav .button:hover {
  background: #081c24;
  color: #fff;
}

.wrapper .movies .movies-nav.is-hidden {
  display: none;
}

.movie-desc-popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background: rgba(8, 28, 36, 0.98);
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.movie-desc-popup .movie-popup-box-full {
  width: 100%;
  max-width: 768px;
  position: relative;
  z-index: 5;
  background: #081c24;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full {
    padding-bottom: 0;
    margin: 40px auto;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 28, 36, 0.85);
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header {
  height: 250px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #081c24;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header {
    height: 350px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap figure.movie-poster {
  display: none;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap figure.movie-poster {
    background: #081c24;
    display: block;
    position: absolute;
    width: calc(45% - 40px);
    top: 40px;
    left: 40px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap figure.movie-poster .movie-img {
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.97) translateZ(0);
          transform: scale(0.97) translateZ(0);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap figure.movie-poster .movie-img-is-loaded {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap .movie-title {
  position: relative;
  padding: 20px;
  color: #bc3b69;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap .movie-title {
    width: 55%;
    text-align: left;
    margin-left: 45%;
    padding: 30px 30px 30px 40px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap .movie-title h1.movie-title-text {
  font-weight: 500;
  line-height: 1.4;
  font-size: 24px;
  margin: .67em 0;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap .movie-title h1.movie-title-text {
    font-size: 30px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap .movie-title h1.movie-title-text span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container header.movie-header .movie-wrap-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main {
  background: #f8f8f8;
  min-height: calc(100vh - 250px);
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main {
    min-height: 0;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-actions + .movie-info {
  margin-left: 0;
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info {
  width: 100%;
  padding: 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 40px;
    width: 55%;
    margin-left: 45%;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-description {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-details .movie-details-block:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-details .movie-details-block:not(:last-child) {
    margin-bottom: 30px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-details .movie-details-block h2.movie-details-title {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #bc3b69;
}

@media (min-width: 768px) {
  .movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-details .movie-details-block h2.movie-details-title {
    font-size: 16px;
  }
}

.movie-desc-popup .movie-popup-box-full .movie .movie-container .movie-main .movie-wrap .movie-info .movie-details .movie-details-block .movie-details-text {
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

.movie-desc-popup .movie-popup-box-full button#movie-popup-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
  width: 40px;
  height: 40px;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  cursor: pointer;
}

.movie-desc-popup .movie-popup-box-full #movie-popup-close:after,
.movie-desc-popup .movie-popup-box-full #movie-popup-close:before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 10px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.movie-desc-popup .movie-popup-box-full #movie-popup-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.movie-desc-popup .movie-popup-box-full #movie-popup-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.movie-desc-popup .movie-popup-box-full #movie-popup-close:hover {
  background: #bc3b69;
}

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

#loader {
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  height: 30px;
  left: 50%;
  margin: -1.5em;
  position: absolute;
  top: 50%;
  width: 30px;
}

#loader:after {
  border: 5px solid #bc3b69;
  border-radius: 50%;
  content: "";
  left: 10px;
  position: absolute;
  top: 16px;
}
/*# sourceMappingURL=main.css.map */