.movies-load-more {
	text-align: center;
}
.button{
	display:inline-block;
	border:1px solid #081c24;
	text-transform:uppercase;
	background:#081c24;
	font-weight:300;
	font-size:11px;
	line-height:2;
	letter-spacing:.5px;
	padding:5px 20px 4px;
	cursor:pointer;
	color:#081c24;
	background:transparent;
	outline:none;
	transition:background .5s ease,color .5s ease;
	text-decoration: none;
}
@media (min-width:768px){
	.button{
		font-size:12px;
		padding:6px 20px 5px;
	}
}
body:not(.touch) .button:hover{
	background:#081c24;
	color:#fff
}